<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Success</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
    </head>
    <body>
        <div class="header">
            <h1>{{ user.first_name }} {{ user.last_name }}'s Quotes</h1>
            <div>
                <a href="{% url 'quotes' %}">Back</a>
                <form action="/login_reg/logout" method="post">
                    {% csrf_token %}
                    <input type="submit" value="logout">
                </form>
            </div>
        </div>

        <div class="container">
            <div class="col">
                {% for quote in user.quotes.all %}
                    <div class="quote">
                        <p>{{ quote.author.name }}:</p>
                        <p>"{{ quote.content }}"</p><br/>
                        {% if quote.uploader.id == curUserId %}
                            <a href="{% url 'delQuote' quoteId=quote.id %}">Delete</a>
                        {% endif %}
                    </div><br/>
                {% endfor %}
            </div>
        </div>
    </body>
</html>